main {
  .biografia {
      padding-inline: 2rem;
      padding-block: 2rem;
      & > img {
    max-width: 7.5rem;
    max-height: 7.5rem;
  }

  & .text {

    margin-top: 1rem;

    & p {
      margin-top: .5rem;
    }
  }
  }

  & ul {
    padding-inline: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    & li {
      align-items: center;
      display: flex;
      gap: .5rem;
    }
  }
}

@media (width >= 80em) {
  main {
    align-items: center;
    

  .biografia {
    display: flex;
    gap: 2rem;
    align-items: center;

    & > img {
      min-width: 11rem;
      min-height: 11rem;
    }
  }

& ul {
    margin-left: auto;
    padding-inline: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    & li {
      align-items: center;
      display: flex;
      gap: .5rem;
    }
  }
  
  }
}