.py-base {
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.desktop-only {
  display: none;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.container {
  --max-width: 360px; /* Fator máximo permitido de largura (Mobile) */
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
      display: initial;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

